<c-perfil></c-perfil>

<dados-pess></dados-pess>
<minhas-comp></minhas-comp>

<div class="divline"></div>

<h2 class="name">{{name}}</h2>
<h1 class="endtel">{{endTel}}</h1>

<h1 class="title"> PERFIL </h1>
<h1 class="textperfil">{{textperfil}}</h1>

<h1 class="title"> EXPERIÊNCIA PROFISSIONAL </h1>

<h1 class="t1exp">Eletrotécnico na Serviço Social da indústria - SESI, Mauá</h1>
<h1 class="dateexp">Fevereiro 2021 — Dezembro 2022</h1>
<h1 class="textexp">{{textexp}}</h1>

<h1 class="t1exp">Estagiário OED na SESI, Mauá</h1>
<h1 class="dateexp">Janeiro 2023 — Abril 2024</h1>
<h1 class="textexp">{{textexp2}}</h1>

<h1 class="title"> FORMAÇÃO </h1>

<h1 class="t1exp">Técnico em eletroeletrônica, Senai, Mauá</h1>
<h1 class="dateexp">Janeiro 2021 — Dezembro 2022</h1>

<h1 class="t1exp">Superior em ADS, Senai, São Caetano do Sul</h1>
<h1 class="dateexp">Janeiro 2023 — Dezembro 2024</h1>

<h1 class="title"> CURSOS </h1>

<h1 class="textcur">Segurança no Trabalho, SENAI</h1>
<h1 class="textcur">Finanças Pessoais, SENAI</h1>
<h1 class="textcur">Indústria 4.0, SENAI</h1>
<h1 class="textcur">Excel Básico, SENAI</h1>
<h1 class="textcur">Privacidade e Proteção de Dados (LGPD), SENAI</h1>

 